* {
    box-sizing: border-box;
}

body {
	background-image: url("bg.jpg");
  background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: auto;
}

li {
    float: left;
}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the header */
header {
    padding: 0.5px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%; 
    padding: 20px;
    height: 100%;
}

article {
    float: left;
    padding: 10px;
    width: 70%;
    height: 100%;
}
/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}


hr { 
    border-width: 10px;
} 

/* Style the footer */
footer {
    padding: 0.5px;
    text-align: center;
    color: white;
}





